<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="icon" href="/favicon/logo.ico">
</head>
<body>
    <%- include('partials/header')%>

    <div class="main-wrapper">
        <h1>Error 404 - Pagina no encontrada</h1>
    </div>

    <%- include('partials/footer')%>
</body>
</html>