<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <!-- CSS separado -->
    <link rel="icon" href="/favicon/logo.ico">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <!-- Header -->
    <header class="main-header">
        <h2>Jack Sheepe</h2>
    </header>

    <!-- Contenedor principal -->
    <div class="content-wrapper">
        <div class="login-container">
            <img alt="Logo" class="logo" src="/favicon/logo.webp">
            <h1>Bienvenido a Jack Sheepe</h1>
            <% if (typeof error !== 'undefined' && error) { %>
                <div class="errorMessage">
                    <%= error %>
                </div>
            <% } %>
            <form action="/" method="POST">
                <div class="input-group">
                    <input type="email" name="correo" placeholder="Correo electrónico" required>
                </div>
                <div class="input-group">
                    <input type="password" name="contrasena" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="login-btn">Iniciar Sesión</button>
            </form>
            
            <div class="register-link">
                ¿No tienes una cuenta? <a href="/Registro">Regístrate aquí</a>
            </div>
        </div>
    </div>

    <!-- Contenedor del footer 
    <div id="footer-container"></div>

     JS Footer 
    <script src="JS/footer-loader.js"></script>
     JS específico de Login 
    <script src="JS/jsLogin.js"></script>-->
</body>
</html>
