/* HEADER */
.main-header {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
}

.header-title-menu {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.header-title-menu a{
    color: var(--color-white);
    text-decoration: none;
}

.arrow-down {
    font-size: 0.6rem;
    transition: transform 0.3s ease;
}

.arrow-down img {
    max-width: 35px;
    max-height: 35px;
    filter: invert(100%);
    transition: 0.2s ease;
    cursor: pointer;
}

.arrow-down img:hover {
    filter: invert(60%);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -85px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0 0 8px 8px;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    min-width: 200px;
    display: none;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--color-white);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.2s ease;
}

.dropdown-menu li a:hover {
    background-color: var(--color-primary-dark);
}

.cart-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-left: 1rem;
}

.cart-link img {
    max-width: 35px;
    max-height: 35px;
    filter: invert(100%);
    transition: 0.2s ease;
}

.cart-link img:hover {
    filter: invert(60%);
}

.header-icons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-menu:hover .dropdown-menu {
    display: block;
}