/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
    background-color: #750946;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main-header h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

body {
    background-color: #F7F4F0; 
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.content-wrapper {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Contenedor de Login */
.login-container {
    background: rgba(255, 255, 255, 0.95); 
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
}

.login-container h1 {
    color: #333;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
    border-color: #750946;
    box-shadow: 0 0 0 3px rgba(117, 9, 70, 0.2);
    outline: none;
}

.login-btn {
    background: linear-gradient(135deg, #901a5d 0%, #750946 100%);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 10px rgba(117, 9, 70, 0.4);
    transition: all 0.2s ease;
}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(117, 9, 70, 0.6);
}

.login-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.register-link {
    margin-top: 1.5rem;
    color: #666;
    font-size: 0.9rem;
}

.register-link a {
    color: #750946; /* Enlace en color guinda */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link a:hover {
    text-decoration: underline;
    color: #5d0739;
}

.logo {
    width: 80px;
    margin-bottom: 1rem;
}

.errorMessage {
    color: rgba(219, 12, 12, 0.772);
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}