<link rel="stylesheet" href="/css/header.css" />
<header class="main-header">
  <div class="header-title-menu">
    <a href="/Pagina-Principal">Jack Sheepe</a>
  </div>
  <div class="header-icons">
    <div class="user-menu">
      <span class="arrow-down" aria-hidden="true"><img src="/favicon/user.png" alt="Carrito" /></span>
        <ul class="dropdown-menu">
          <li><a href="/Historial-de-Pedidos">Ver Historial de Pedidos</a></li>
          <li><a href="/Metodos-de-Pago">Registrar Método de Pago</a></li>
          <li><a href="/Cerrar-Sesion">Cerrar Sesión</a></li>
        </ul>
      </div>  
    <a href="/Carrito-de-Compras" class="cart-link" aria-label="Carrito de compras">
      <img src="/favicon/cart.png" alt="Carrito" />
    </a>
  </div>
</header>