<header class="main-header">
  <div class="header-title-menu">
    Tienda E-commerce
    <span class="arrow-down" aria-hidden="true">▼</span>
    <ul class="dropdown-menu">
      <li><a href="/Pagina-Principal">Inicio</a></li> 
      <li><a href="/Historial-de-Pedidos">Ver Historial de Pedidos</a></li>
      <li><a href="/Metodos-de-Pago">Registrar Método de Pago</a></li>
    </ul>
  </div>
  <a href="/Carrito-de-Compras" class="cart-link" aria-label="Carrito de compras">
    <img src="https://static.vecteezy.com/system/resources/previews/011/187/829/non_2x/shopping-cart-icon-vector.jpg" alt="Carrito" />
  </a>
</header>